body {
	margin: 0;
	padding: 0;
	
}
/*----------------navbar----------------------*/
.navbar {
	background-color: #343a40!important;
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: azure;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*
  .navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px; 
  }
*/

/* ---------------------------------------form---------------------------------------------------------------*/
.divcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	margin: 0%;
}

.cform {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

input {
	margin-bottom: 10px;
	padding: 10px;
}

.submit {
	padding: 10px;
	background-color: yellowgreen;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

.back {
	color:white;

	margin-right: 20px;
}